
body {
    font: 300 24px/36px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#toggles {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.icon-group {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 0;
}

.icon {
    display: block;
    margin: 0 0 11px 5px;
    width: 44px;
    height: 44px;
    background: rgba(255,255,255,.4) none no-repeat center center;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    border-radius: 4px;

    &.selected {
        background-color: rgba(255,255,255,.8);
    }
}

#move-tool { background-image: url(cursor-hand-40.png); }
#draw-tool { background-image: url(pencil-40.png); }

.icon.medium { background-image: url(grid-large-40.png); }
.icon.small { background-image: url(grid-medium-40.png); }
.icon.tiny { background-image: url(grid-small-40.png); }

@media screen and (max-height: 420px) {
    .icon.medium { display: none; }
}

@media screen and (max-height: 340px) {
    .icon.small,
    .icon.tiny { display: none; }
}


////////////////////////////

#images {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 1;

    a, span {
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

    .prev, .next, .current {
        position: absolute;
        bottom: 10px;
        max-width: 23%;
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
    }

    .prev { left: 5%; text-align: left; }
    .next { right: 5%; text-align: right; }

    .current {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin: 0 0 0 -20%;
        max-width: 40%;
        width: 40%;
        font-size: 16px;
        text-align: center;
    }
}

////////////////////////////

#viewer-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
}

html.draw-tool #viewer {
    cursor: url(pencil-cursor.png), auto;
}

html.move-tool #viewer {
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

html.move-tool.grabbing #viewer {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#viewer {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(255, 255, 255, .25);
    overflow: hidden;
    background: transparent url(ajax-loader.gif) no-repeat center center;

    .hoverable {
        float: left;
        position: relative;
        width: 100% / 10;
        height: 100% / 10;
        overflow: hidden;
        z-index: 1;
    }

    canvas,
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#viewer:after {
    content: "daily treats from /r/woahdude…";
    position: absolute;
    bottom: 58%;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, .75);
    font-style: italic;
}

html.loaded #viewer:after {
    display: none;
}


.num-cols(@num-columns) {
    width: 100% / @num-columns;
    height: 100% / @num-columns;
}

body.tiny #viewer .hoverable { .num-cols(3); }
body.small #viewer .hoverable { .num-cols(9); }
body.medium #viewer .hoverable { .num-cols(27); }
body.large #viewer .hoverable { .num-cols(40); }
